name: Ansible
on: [ push, pull_request ]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13.x"

      - name: Install dependencies
        run: |
          pip install ansible ansible-lint
          ansible-galaxy collection install -r ansible/requirements.yml

      - name: Run ansible-lint
        working-directory: ansible
        run: ansible-lint .
